{% load static %}
{% load traducao %}

<div class="grid bg-[#000] w-100 rounded-lg overflow-hidden relative min-h-[22rem] max-h-[26.75rem] md:2min-h-[26.75rem]">
    <video 
        controls 
        js-video
        data-id="{{ video_atual.id }}"
        data-token="{{ csrf_token }}"
        data-module="{{ modulo_atual.id }}"
        class="w-full h-full m-auto max-h-[26.75rem]"
        {% if video_atual.thumbnail %}
            poster="{{video_atual.thumbnail.url}}"
        {% else %}
            poster="{% static 'assessment/assets/dist/images/video_padrao.png' %}"
        {% endif %}
    >
        <source src="{{video_atual.video.url}}" type="video/mp4">
        {% traduzir 'Seu navegador não suporta a tag de vídeo.' request %}
    </video>


    <div js-overlay class="absolute bg-[#00000080] inset-0 flex items-center justify-center gap-24 invisible opacity-0 transition-opacity">
        <a 
            href="/cursos/video/{{modulo_atual.id}}/{{video_anterior.id}}/?curso={{modulo_atual.curso.id}}" 
            class="
                group flex items-center gap-8 font-medium text-base text-white leading-[1.1875rem] 
                {% if not video_anterior.id %} brightness-50 pointer-events-none {% endif %}
            "
        >
            <svg class="w-24 h-24 group-hover:-translate-x-4 transition">
                <use xlink:href="#icon_go_back"></use>
            </svg>

            <span class="sm:hidden">{% traduzir 'Episódio Anterior' request %}</span>
        </a>

        <div class="flex flex-col gap-8">
            
            <p class="text-xs text-neutral-10">
                {% if video_proximo.id %}
                    {% traduzir 'Próximo episódio em' request %} <span js-next-step-timer="video">10</span>
                {% elif modulo_atual.primeira_pergunta %}
                    {% traduzir 'Iniciando quiz em' request %} <span js-next-step-timer="quiz">10</span>
                {% endif %}
            </p>

            <div class="flex flex-col gap-12 p-16 bg-[#FFFFFF1A] border border-white rounded-2xl">
                <div class="stars flex items-center justify-center gap-4">
                    {% for star in estrelas %}
                        {% if star.preenchida %}
                            <svg class="w-20 h-20 rounded-full hover:bg-[#FFFFFF3A] transition" data-star="{{star.data_star}}" style="cursor: pointer;">
                                <use xlink:href="#icon_star_checked"></use>
                            </svg>
                        {% else %}
                            <svg class="w-20 h-20 rounded-full hover:bg-[#FFFFFF3A] transition" data-star="{{star.data_star}}" style="cursor: pointer;">
                                <use xlink:href="#icon_star_unchecked"></use>
                            </svg>
                        {% endif %}
                    {% endfor %}
                </div>
                
                <span class="block font-medium text-lg text-white leading-[1.375rem]">
                    {% traduzir 'Como foi o episódio?' request %}
                </span>
            </div>

            <button js-replay class="h-32 rounded-lg bg-[#FFFFFF1A] font-medium text-sm text-white leading-[1.0625rem] border border-transparent hover:border-neutral-60 hover:bg-[#FFFFFF3A] transition">
                {% traduzir 'Assistir novamente' request %}
            </button>
        </div>

        {% if video_proximo.id %}
            <a 
                href="/cursos/video/{{modulo_atual.id}}/{{video_proximo.id}}/?curso={{modulo_atual.curso.id}}" 
                class="group flex items-center gap-8 font-medium text-base text-white leading-[1.1875rem]"
            >
                <span class="sm:hidden">{% traduzir 'Próximo episódio' request %}</span>

                <svg class="w-24 h-24 rotate-180 group-hover:translate-x-4 transition">
                    <use xlink:href="#icon_go_back"></use>
                </svg>
            </a>
        {% elif modulo_atual.primeira_pergunta %}
            <a 
                href="{% url 'responder_pergunta' 'pergunta_multipla_escolha' modulo_atual.primeira_pergunta curso_atual.projeto.slug%}?curso={{curso_atual.id}} "
                class="group flex items-center gap-8 font-medium text-base text-white leading-[1.1875rem]"
            >
                <span class="sm:hidden">{% traduzir 'Iniciar Quiz' request %}</span>

                <svg class="w-24 h-24 rotate-180 group-hover:translate-x-4 transition">
                    <use xlink:href="#icon_go_back"></use>
                </svg>
            </a>

        {% else %}
            <p class="group flex items-center gap-8 font-medium text-base text-white leading-[1.1875rem] brightness-50 pointer-events-none">
                <span class="sm:hidden">{% traduzir 'Próximo episódio' request %}</span>

                <svg class="w-24 h-24 rotate-180 group-hover:translate-x-4 transition">
                    <use xlink:href="#icon_go_back"></use>
                </svg>
            </p>
        {% endif %}
    </div>
</div>