<div role="tabpanel" class="tab-pane fade files" id="material">
    <div class="swiper"> 
        <div class="swiper-wrapper">
            {% for anexo in anexos %}
                <div class="swiper-slide">
                    <a href="{{anexo.anexo.url}}" download>
                        <div class="file">
                            <div class="d-flex">
                                <svg>
                                    <use xlink:href="#{{anexo.arquivo_icon}}"></use>
                                </svg>
    
                                <div>
                                    <strong>{{anexo.titulo}}</strong>
                                    <p>{{anexo.arquivo_size}}</p>
                                </div>
                            </div>

                            <button class="download-file" style="cursor: pointer;">
                                <svg>
                                    <use xlink:href="#icon_download"></use>
                                </svg>
                            </button>
                        </div>
                    </a>
                </div>
            
            {% empty %}
                <p>Sin materiales complementarios</p>
            {% endfor %}
        </div>
        <div class="swiper-scrollbar"></div>
    </div>
</div>