{% load static %}

<nav class="sidebar ">
	<ul js-menu-lista>

		<li class="menu-item group">
			<a href="{% url 'home' %}" js-menu-page="home">
				<svg class="icon">
					<use xlink:href="#icon_home"></use>
				</svg>

				<span>Home</span>
			</a>
		</li>

		<!-- <ul class="text-primary-red">
			<h1>AA {{request.content_params.curso.nome}}</h1>
			{% for modulo in request.content_params.curso.nome %}
				<h2>a {{modulo.titulo}}</h2>
			{% endfor %}
		</ul> -->
		

		{%for modulo in request.user.curso_set.all%}
		<div class="accordion-item menu-item" js-accordion js-accordion-gsap>
			<a js-menu-page="estrategia" class="accordion-title" data-accordion="1">
				<svg class="icon">
					<use xlink:href="#icon_strategy"></use>
				</svg>

				<span>{{modulo.titulo}}</span>

				<svg class="arrow">
					<use xlink:href="#icon_arrow_bottom"></use>
				</svg>
			</a>
			<ul class="accordion-content bg-neutral-90 pl-48" data-accordion="1">
				<li class="accordion-container max-w-[468px]">
					<a href="https://simulador.logbit.com.br/cursos/video/1/1/?curso=1">
						<svg class="icon">
							<use xlink:href="#icon_acquisition"></use>
						</svg>

						<span>Videos</span>
					</a>
				</li>
				<li class="accordion-container max-w-[468px]">
					<a href="https://simulador.logbit.com.br/perguntas/responder/pergunta_multipla_escolha/4/?curso=1">
						<svg class="icon">
							<use xlink:href="#icon_acquisition"></use>
						</svg>

						<span>Quiz</span>
					</a>
				</li>
			</ul>
		</div>
		{%endfor%}

		<!-- <div class="accordion-item menu-item" js-accordion js-accordion-gsap>
			<a js-menu-page="aquisicao" class="accordion-title" data-accordion="2">
				<svg class="icon">
					<use xlink:href="#icon_acquisition"></use>
				</svg>

				<span>Aquisição</span>

				<svg class="arrow">
					<use xlink:href="#icon_arrow_bottom"></use>
				</svg>
			</a>
			<ul class="accordion-content bg-neutral-90 pl-48" data-accordion="2">
				<li>
					<a href="">
						<svg class="icon">
							<use xlink:href="#icon_acquisition"></use>
						</svg>
		
						<span>Submenu 1</span>
					</a>
				</li>
				<li>
					<a href="">
						<svg class="icon">
							<use xlink:href="#icon_acquisition"></use>
						</svg>
		
						<span>Submenu 2</span>
					</a>
				</li>
			</ul>
		</div> -->

		<li js-lista-name="hidden" class="hidden click-hidden"></li>
	</ul>

	<div class="flex flex-col gap-8">
		<a href="" class="h-40 mx-16 whitespace-nowrap menu-item group text-white hover:text-neutral-40 transition-colors hidden sm:block">
			<p class="inline-flex font-medium text-sm leading-100">Instruções</p>
		</a>

		<a href="" class="h-40 mx-16 whitespace-nowrap menu-item group text-white hover:text-neutral-40 transition-colors hidden sm:block">
			<p class="inline-flex font-medium text-sm leading-100">Sair</p>
		</a>

		<img src="{% static 'assessment/assets/dist/images/logo_sidebar.png' %}" alt="logo" class="w-[1.75rem] h-[1.75rem] ml-16 mb-16" />
	</div>
</nav>

<div class="nav-fundo"></div>