{% extends 'base/base.html' %}
{% load static %}
{% load traducao %}

{% block body_class %}
body__home
{% endblock %}

{% block extra_styles %}
<style>
    .apexcharts-legend-marker {
        width: 1rem !important;
        height: .375rem !important;
        border-radius: .5rem !important;
        margin-right: .5rem !important;
        margin-left: .75rem !important;
        transform: translateY(1px);
    }
</style>
{% endblock %}

{% block content %}
<main class="container-content mt-64 xl:mt-48" js-page="home">
    {% include './cards_projeto/main_card.html' %}

    <div class="home-line">
        <h2 class="font-medium text-2xl text-neutral-80 mb-16 mt-80 xl:mt-40">
            {% traduzir 'Avanço nos Episódios' request %}
        </h2>

        <div class="grid grid-cols-3 md2:grid-cols-2 md:flex md:flex-col gap-16">
            {% include './cards_projeto/progress_card.html' %}
            {% include './cards_projeto/time_card.html' %}
            {% include './cards_projeto/conquests_card.html' %}
        </div>
    </div>

    <div class="home-line">
        <h2 class="font-medium text-2xl text-neutral-80 mb-16 mt-40">
            {% traduzir 'Avanço no Quiz' request %}
        </h2>

        <div class="grid grid-cols-3 md2:grid-cols-2 md:flex md:flex-col gap-16">
            {% include './cards_projeto/score_card.html' %}
            {% include './cards_projeto/evolution_card.html' %}
            {% include './cards_projeto/improve_score_card.html' %}
        </div>
    </div>
</main>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script type="module">
    import initLineChart from "{% static 'assessment/assets/src/js/modules/initLineChart.js' %}"
    import renderPieProgress from "{% static 'assessment/assets/src/js/modules/renderPieProgress.js' %}"

    initLineChart('#chart-time-progress', { // Meu progresso no tempo
        series: [{
            name: "Progresso",
            data: [
                {% for registro in listagem_geral_video %}
                    "{{registro.progresso}}",    
                {% endfor %} 
            ]
        }],
        xaxis: {
            categories: [
                {% for registro in listagem_geral_video %}
                    '{{registro.data|date:"M/y"}}',
                {% endfor %}
            ],
        },
    })

    initLineChart('#chart-time-progress-detail', { // Meu progresso no tempo #Detalhes
        series: [
            {% for registro in lista_videos_progresso %}
                {
                    name: "{{registro.curso.titulo}}",
                    data: [
                        {% for rg in registro.lista_registros %}
                            '{{ rg.progresso }}',
                        {% endfor %}
                    ]
                },
            {% endfor %}
        ],
        xaxis: {
            categories: [
                {% for data in array_date_video %}
                    '{{data|date:"M/y"}}',
                {% endfor %}
            ],
        },
    })


    initLineChart('#chart-my-evolution', { // Minha evolução
        series: [{
            name: "Progresso",
            data: [
                {% for registro in listagem_geral_quizz %}
                    "{{registro.progresso}}",    
                {% endfor %} 
            ]
        }],
        xaxis: {
            categories: [
                {% for registro in listagem_geral_quizz %}
                    '{{registro.data|date:"M/y"}}',
                {% endfor %}
            ],
        },
    })

    initLineChart('#chart-my-evolution-detail', { // Minha evolução #Detalhes
        series: [
            {% for registro in lista_quizz_progresso %}
                {
                    name: "{{registro.curso.titulo}}",
                    data: [
                        {% for rg in registro.lista_registros %}
                            '{{ rg.progresso }}',
                        {% endfor %}
                    ]
                },
            {% endfor %}
        ],
        xaxis: {
            categories: [
                {% for data in array_date_quizz %}
                    '{{data|date:"M/y"}}',
                {% endfor %}
            ],
        },
    })

    
    function setScorePercent() {
        const scoreText = document.querySelector('[js-progress-score]').innerHTML

        const quizzesAnswered = Number(scoreText.split(' ')[0].replace('(', ''))
        const qtdQuizzes = Number(scoreText.split(' ')[2].replace(')', ''))
        const percent = ((quizzesAnswered / qtdQuizzes) * 100).toFixed(1)

        renderPieProgress(
            percent, 
            '{{ bronze }}', 
            '{{ prata }}', 
            '{{ ouro }}'
        )
    }

    setScorePercent()
</script>

<script>
    GLOBAL.toggleHideButtons()
    
    // Slide config
    const swiper = new Swiper('[swiper-home]', {
        slidesPerView: 'auto',
        spaceBetween: 8,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    })

    //Progress bar config
    function setProgressBar() {
        const modules = document.querySelectorAll('[data-tippy-content]')
        const barChildrens = [...document.querySelectorAll('.bar-children')]

        const totalModulesPercent = Number("{{total_modulos}}") * 100
        const modulesLength = modules.length
        
        // Funcions
        const renderTooltips = () => {
            modules.forEach(el => {
                const percentage = el.dataset.tippyContent
                el.style.width = percentage

                tippy(el, {
                    theme: 'light',
                    offset: [0, 1]
                })
            })
        }

        const setTotalProgress = () => {
            const percentTitle = document.querySelector('[js-progress-percent]')
    
            const childrensPercent = barChildrens
                .map(val => Number(val.getAttribute('js-children-percent')))
                .reduce((acc, val) => acc + val)
    
            const percentValue = (childrensPercent / totalModulesPercent) * 100
            percentTitle ? percentTitle.innerHTML = `${percentValue.toFixed(0)}%` : ''
        }

        const setChildrensPercent = () => {
            barChildrens.map(val => {
                const percentValue = Number(val.getAttribute('js-children-percent'))
                const tippyContent = ((percentValue / totalModulesPercent) * 100).toFixed(2)

                val.setAttribute('data-tippy-content', `${tippyContent}%`)
            })
        }

        const setModuleProgressPercent = () => {
            const moduleLines = document.querySelectorAll('[js-module-line]')

            moduleLines.forEach(line => {
                const qtdFinished = line.querySelectorAll('span b')[0].innerHTML
                const qtdTotal = line.querySelectorAll('span b')[1].innerHTML
                const progressBar = line.querySelector('[data-tippy-content]')

                const percentValue = (Number(qtdFinished) / Number(qtdTotal)) * 100

                progressBar.setAttribute('data-tippy-content', `${percentValue}%`)
            })
        }

        function init() {
            setTotalProgress()
            setChildrensPercent()
            setModuleProgressPercent()

            renderTooltips()

            return this
        }

        return {
            init
        }
    }

    setProgressBar().init()
</script>
{% endblock %}