{% load static %}
{% load traducao %}

<div class="card card-home flex flex-col py-24 h-[25rem] xl:h-[20rem]">
    <h3 class="line-before line-blue relative text-lg text-neutral-80 pl-24">
        {% traduzir 'Minha evolução' request %}
    </h3>
    
    <div class="conteudo relative mt-24 px-16 flex flex-col flex-1 h-[12.875rem] mb-40">
        {% if tamanho_listagem_quizz_registros == 1 and listagem_quizz_registros.0.progresso == 0 %}
            <a href="{% url 'video:video' curso.primeiro_video_modulo.modulo.id curso.primeiro_video_modulo.id curso.projeto.slug%}?curso={{curso.id}}" class="btn quiz !px-16 !py-16 absolute bottom-2/4 left-2/4 -translate-x-[50%] translate-y-[50%] z-10 ">
                {% traduzir 'Começar pelos episódios' request %}
            </a>

            <div class="!pointer-events-none" id="chart-my-evolution"></div>
        {% else %}
            <div id="chart-my-evolution"></div>
        {% endif %}
    </div>
</div>