{% load static %}
{% load traducao %}

<div class="card card-home main md:!flex md:flex-col">
    <div class="card-content md:pr-24">
        <h1 class="line-bottom">
            {% traduzir 'Módulo' request %}: 
            <strong class="capitalize">{{request.content_params.curso}}</strong>
        </h1>

        <p>
            {{curso.descricao}}
        </p>
    </div>

    <div class="h-[max-content] md:w-full px-24">
        <p class="font-normal text-base leading-[1.25rem] text-neutral-80 mt-8 md:mt-32">
            {% traduzir 'Por aqui, você pode começar:' request %}
        </p>

        <div class="swiper" swiper-curso>
            <div class="swiper-wrapper">
            {% if usuario_completo or usuario_novo %}<!--VERIFICAR AMANHÃ-->
            
                {% for modulo in modulos_certos %}
                <div class="swiper-slide">
                    <div class="image-container">
                        <img src="{{modulo.primeiro_video_do_modulo.thumbnail.url}}" alt="Imagem Thumbnail Representativa">
                        
                        <a 
                            js-toggle-hide-button 
                            class="opacity-0 invisible"
                            href="{% url 'video:video' curso.primeiro_video_modulo.modulo.id curso.primeiro_video_modulo.id curso.projeto.slug%}?curso={{curso.id}}"
                        >
                            {% traduzir 'Começar' request %}
                        </a>
                    </div>

                 <p style="font-size: 0.84rem ;">{{modulo.primeiro_video_do_modulo.titulo}}</p>

                </div>
                {% endfor %}
        
            {% else %}

            {% for video in next_aulas %}
            <div class="swiper-slide">
                <div class="image-container">
                    <img src="{{video.thumbnail.url}}" alt="Imagem Thumbnail Representativa">
                    
                    <a 
                        js-toggle-hide-button 
                        class="opacity-0 invisible"
                        href="{% url 'video:video' video.modulo.id video.id curso.projeto.slug%}?curso={{curso.id}}"
                    >
                        {% traduzir 'Começar' request %}
                    </a>
                </div>

                <p style="font-size: 0.84rem ;">{{video.titulo}}</p>
                <p style="font-size:0.74rem">{{video.modulo.titulo}}</p>
            </div>
   
            {% endfor%}
            {% endif %}

        </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>