section.container {
    @include breadcrumb-mixin;

    > header {
        color: #fff;

        h2 {
            font-size: 1.5rem;
            line-height: 2.25rem;
            font-weight: 400;
            margin-bottom: 0.5rem;

            strong {
                font-weight: 700;
            }
        }

        p {
            font-size: 1rem;
            line-height: 150%;
            font-weight: 500;
            opacity: 0.8;
        }
    }

    .content {
        grid-template-columns: 1fr 33.125rem;
        padding: 1.5rem;

        @include d(m) {
            display: flex;
            flex-direction: column;
        }

        @include dashboard;
    }
}
