{% load static %}

<div class="card card-home flex flex-col py-24 h-[25rem]">
    <h3 class="line-before relative text-lg text-neutral-80 pl-24">
        Minha evolução
    </h3>
    
    <div class="conteudo relative flex flex-col h-full mt-24 px-16">
        <a href="#" class="btn quiz  !px-16 !py-16 absolute bottom-2/4 left-2/4  -translate-x-[50%] translate-y-[50%] z-10">Começar pelas aulas</a>
        <div id="chart-my-evolution"></div>
    </div>

    <div class="footer-card pt-24 ">
        <a href="#" class="group">
            Detalhes
            <svg class="transition-transform group-hover:translate-x-2">
                <use xlink:href="#icon_arrow_right"></use>
            </svg>
        </a>
    </div>
</div>