{% load static %}

<div class="card card-home flex flex-col py-24 h-[25rem]">
    <h3 class="line-before relative text-lg text-neutral-80 pl-24">
        Meu progresso
    </h3>

    <div class="conteudo relative flex flex-col justify-center h-full mt-24 px-16">
        <p class="porcentagem text-center text-[2.5rem] font-semibold text-neutral-90">80%</p>
        <!-- <a href="#" class="btn quiz !px-16 !py-16 w-max mx-auto">Vamos começar</a> -->

        <div class="barra overflow-hidden flex h-16 w-full bg-neutral-5 rounded-[3.3125rem] mt-24">
            <div class="barra-children h-full flex justify-center bg-estrategia" data-tippy-content="10%">
            </div>

            <div class="barra-children h-full flex justify-center bg-aquisicao" data-tippy-content="30%">
            </div>

            <div class="barra-children h-full flex justify-center bg-controle" data-tippy-content="50%">
            </div>

            <div class="barra-children h-full flex justify-center bg-mercado" data-tippy-content="35%">
            </div>

            <div class="barra-children h-full flex justify-center bg-manutencao" data-tippy-content="0%">
            </div>

            <div class="barra-children h-full flex justify-center bg-descarte" data-tippy-content="0%">
            </div>
        </div>

        <div class="legendas grid grid-cols-[max-content_max-content_max-content] gap-x-32 items-center justify-center mt-32 ">
            <div class="item flex items-center gap-8">
                <span class="legenda-badge w-16 h-[.375rem] rounded-lg bg-estrategia block"></span>
                <p class="text-neutral-80 font-medium text-xs">Estratégia</p>
            </div>
            <div class="item flex items-center gap-8">
                <span class="legenda-badge w-16 h-[.375rem] rounded-lg bg-controle block"></span>
                <p class="text-neutral-80 font-medium text-xs">Controle</p>
            </div>
            <div class="item flex items-center gap-8">
                <span class="legenda-badge w-16 h-[.375rem] rounded-lg bg-manutencao block"></span>
                <p class="text-neutral-80 font-medium text-xs">Manutenção</p>
            </div>
            <div class="item flex items-center gap-8">
                <span class="legenda-badge w-16 h-[.375rem] rounded-lg bg-aquisicao block"></span>
                <p class="text-neutral-80 font-medium text-xs">Aquisição</p>
            </div>
            <div class="item flex items-center gap-8">
                <span class="legenda-badge w-16 h-[.375rem] rounded-lg bg-mercado block"></span>
                <p class="text-neutral-80 font-medium text-xs">Mercado</p>
            </div>
            <div class="item flex items-center gap-8">
                <span class="legenda-badge w-16 h-[.375rem] rounded-lg bg-descarte block"></span>
                <p class="text-neutral-80 font-medium text-xs">Descarte</p>
            </div>
        </div>
    </div>
    <div class="footer-card">
        <div class="texto-footer">
            <p class="text-sm text-neutral-90"> <strong>0 de 64</strong> Aulas concluídas</p>
        </div>

        <a href="#" class="group">
            Detalhes
            <svg class="transition-transform group-hover:translate-x-2">
                <use xlink:href="#icon_arrow_right"></use>
            </svg>
        </a>
    </div>
</div>