{% extends 'base/base.html' %}
{% load static %}

{% block body_class %}
body__home
{% endblock %}

{% block content %}
<main class="container-content mt-64" js-page="home">
    {% include './cards/main_card.html' %}

    <div class="home-line">
        <h2 class="font-medium text-2xl text-neutral-80 mb-16 mt-80">
            Avanço nas vídeo-aulas
            {% if user.is_authenticated %}
            sim
            {% else %}
            nao
            {% endif %}
        </h2>

        <div class="grid grid-cols-3 md2:grid-cols-2 md:flex md:flex-col gap-16">
            {% include './cards/progress_card.html' %}
            {% include './cards/time_card.html' %}
            {% include './cards/conquests_card.html' %}
        </div>
    </div>

    <div class="home-line">
        <h2 class="font-medium text-2xl text-neutral-80 mb-16 mt-48">
            Avanço no Quiz
        </h2>

        <div class="grid grid-cols-3 md2:grid-cols-2 md:flex md:flex-col gap-16">
            {% include './cards/score_card.html' %}
            {% include './cards/evolution_card.html' %}
            {% include './cards/improve_score_card.html' %}
        </div>
    </div>
</main>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<script type="module">
    import renderPieProgress from "{% static 'assessment/assets/src/js/modules/renderPieProgress.js' %}"

    renderPieProgress(35)
</script>

<script>
    // Slide config
    const swiper = new Swiper('[swiper-home]', {
        slidesPerView: 'auto',
        spaceBetween: 8,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    })

    //Progress bar config
    function setProgressPercentage() {
        const courses = document.querySelectorAll('[data-tippy-content]')

        courses.forEach(el => {
            const percentage = el.dataset.tippyContent
            el.style.width = percentage

            tippy(el, {
                theme: 'light',
                offset: [0, 1]
            })
        })
    }

    setProgressPercentage()
</script>

<script> // Graphics config
    const lineChartConfig = {
        chart: {
            width: '100%',
            height: '100%',
            type: 'line',
            zoom: {
                enabled: false
            }
        },
        dataLabels: {
            enabled: false,
        },
        colors: ['#D40203'],
        stroke: {
            width: 2,
            curve: 'smooth',
            color: '#F0F0F0'
        },
        grid: {
            row: {
                opacity: 0.5
            },
            xaxis: {
                lines: {
                    show: true
                }
            },
            yaxis: {
                lines: {
                    show: true
                }
            }
        },
        markers: {
            size: 5,
        },
        yaxis: {
            // labels: {
            //     formatter: function (val) {
            //         return val + "%"
            //     },
            // }
        },
    }

    const timeProgressOpt = {
        series: [{
            name: "Desktops",
            data: [10, 60, 36, 0]
        }],
        xaxis: {
            categories: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai'],
        },
        ...lineChartConfig,
    }

    const myEvolutionOpt = {
        series: [{
            name: "Desktops",
            // data: [0, 0, 0, 0]
        }],
        xaxis: {
            categories: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai'],
        },
        ...lineChartConfig,
    }

    // const barChart = {
    //     chart: {
    //         type: "bar",
    //         height: ' 160',
    //         stacked: true,
    //         stackType: "100%",
    //         toolbar: {
    //             show: false
    //         }
    //     },
    //     colors: ['#F40000', '#FF560E', '#E5813E', '#F79900', '#D7B85B', '#B59E74'],
    //     series: [
    //         {
    //             name: "Estratégia",
    //             data: [32]
    //         },
    //         {
    //             name: "Controle",
    //             data: [41]
    //         },
    //         {
    //             name: "Manutenção",
    //             data: [12]
    //         },
    //         {
    //             name: "Aquisição",
    //             data: [65]
    //         },
    //         {
    //             name: "Mercado",
    //             data: [65]
    //         },
    //         {
    //             name: "Descarte",
    //             data: [65]
    //         }
    //     ],
    //     plotOptions: {
    //         bar: {
    //             horizontal: true,
    //             barHeight: '16px',
    //         }
    //     },
    //     dataLabels: {
    //         dropShadow: {
    //             enabled: false
    //         },
    //         formatter: function (val) {
    //             return val ? val.toFixed(1) + '%' : ''
    //         }
    //     },
    //     stroke: {
    //         width: 0
    //     },
    //     grid: {
    //         show: false,
    //         padding: {
    //             top: 0,
    //             bottom: 0,
    //             right: 0,
    //             left: 0
    //         }
    //     },
    //     yaxis: {
    //         labels: {
    //             show: false
    //         },
    //         axisBorder: {
    //             show: false
    //         },
    //         axisTicks: {
    //             show: false
    //         }
    //     },
    //     xaxis: {
    //         labels: {
    //             show: false
    //         },
    //         axisBorder: {
    //             show: false
    //         },
    //         axisTicks: {
    //             show: false
    //         }
    //     },
    //     fill: {
    //         opacity: 1,
    //         type: "gradient",
    //         gradient: {
    //             shade: "dark",
    //             type: "vertical",
    //             shadeIntensity: 0.35,
    //             gradientToColors: undefined,
    //             inverseColors: false,
    //             opacityFrom: 0.85,
    //             opacityTo: 0.85,
    //             stops: [90, 0, 100]
    //         }
    //     },
    //     legend: {
    //         position: "bottom",
    //         horizontalAlign: "right"
    //     }
    // };

    const timeProgressEl = new ApexCharts(document.querySelector("#chart-time-progress"), timeProgressOpt)
    const myEvolutionEl = new ApexCharts(document.querySelector("#chart-my-evolution"), myEvolutionOpt)

    timeProgressEl.render()
    myEvolutionEl.render()
</script>
{% endblock %}